/* src/components/Timeline.css */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
  }
  
  .timeline-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .timeline-content {
    padding: 20px;
    /* background-color: #f4f4f4; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .left {
    flex-direction: row-reverse;
  }
  